<!doctype html>
<html>
<head>
    <title>로그인</title>
</head>
<body>
    <div style="text-align:center;padding-top:20%">
        <form name="divepoint" action="/accounts/login/" method="POST">
            {% csrf_token %}
            Email <input type="text" name="email"/><br><br>
            Password <input type="password" name="password"/><br><br>
            <input type="submit" value="login"/>
        </form>
        <button type="button" name="signup"
        onclick="location.href='/front/signup/'">signup</button>
    </div>
</body>
<html>
